# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
/build/
.venv/
venv/
.eggs/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
site/

# Editors / OS
.idea/
.vscode/
.DS_Store
